@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-label: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #0c1427;
  --color-primary-container: #21283c;
  --color-secondary: #515f74;
  --color-background: #f7f9fb;
  --color-surface: #f7f9fb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #45474c;
  --color-on-secondary-container: #57657b;
  --color-on-tertiary-container: #0099d9;
  --color-tertiary: #001624;
  --color-tertiary-fixed: #c9e6ff;
  --color-tertiary-fixed-dim: #89ceff;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-outline: #75777d;
  --color-outline-variant: #c5c6cd;
  --color-primary-fixed-dim: #bec6e0;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
